<!DOCTYPE html>

{% load static %}
{% load humanize %}

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SmartGate - Print invoice</title>
  <link rel="stylesheet" href="{% static 'css/print-style.css' %}">
  <style>
    @media print {
        button {
            display: none;  
        }
    }
</style>
</head>
<body onload="showDate()">
  <div class="div-flex">
    <div>
      <div class="company-name">{{ company.name }}</div>
      <p>{{ company.address }}</p>
      <p>{{ company.phone }}</p>
      <p>{{ company.reg_no }}</p>
    </div>

    <div class="company-logo">
      <img src="{% static 'images/invoice_logo.jpg' %}" alt="smart">
    </div>
  </div>

  <h3 class="bill-title"> Invoice</h3>

  <div class="div-flex">
    <div class="party">
      <table>
        <tr>
          <td>Bill to:</td>
          <td>&nbsp;<b>{{ bill.party.name }}</b></td>
        </tr>
        <tr>
          <td>Phone:</td>
          <td>&nbsp;<b>{{ bill.party.phone }}</b></td>
        </tr>
      </table>
    </div>

    <div class="invoice">
      <table>
        <tr>
          <td>Invoice No:</td>
          <td>&nbsp;<b>{{ bill.id }}</b></b></td>
        </tr>
        <tr>
          <td>Bill Date:</td>
          <td>&nbsp;<b>{{ bill.bill_date|date:"d-m-Y" }}</b></td>
        </tr>
      </table>
    </div>
  </div>

  <table class="data-table">
    <tr>
      <th style="text-align: left;">Item</th>
      <th class="center-field">Price</th>
      <th class="center-field">Qty</th>
      <th class="center-field">Total</th>
      <th class="center-field">Dis </th>
      <th class="center-field">Net Total </th>
    </tr>
    {% for trans in transactions %}
      <tr>
        <td class="name-cell">{{ trans.item.des }}</td>
        <td class="center-field"> {{ trans.price|intcomma }}.00</td>
        {% if trans.quantity == 0 %}
          <td class="center-field">-</td>
          <td class="right-field"> {{ trans.price|intcomma }}.00
        </td>
        {% else %}
          <td class="center-field">{{ trans.quantity }}</td>
          <td class="center-field"> {{ trans.actual_amount |intcomma }}.00</td>
        {% endif %}

        <td class="center-field">{{ trans.discount_percent }} %</td>
        <td class="center-field"> {{ trans.amount|intcomma }}.00</td>
      </tr>
    {% endfor %}
  </table>

  <div class="div-flex">
    <div class="left">
      <p class="small-text" id="print-date"></p>
    </div>
    <div class="total-amount">
      Total: <span>EG {{ bill.total_amount|default:0|intcomma }}.00</span>
    </div>
  </div>

  <br>
  <div class="div-flex">
    <div class="small-text">
      <h4><b>Thank you for your business!</b></h4>
      <p>If you have any questions about this invoice, please contact</p>
      <p  style="color: blue;">info@smartgatestore.com</p>
    </div>
    <div style="text-align: center;">
      <!-- <p>___________________________</p> -->
      <!-- <p><b>For Maharashtra Engineering</b></p> -->
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div id="legalcopy">
    <button type="button"  onclick="window.print()"  style="background-color: aqua;color:black;font-size:large">PRINT>></button>
  </div>
  <script>
    function showDate() {
      const now = new Date();
      const currentDateTime = now.toLocaleString();
      const printDate = document.getElementById("print-date");
      if (printDate) {
        printDate.textContent = `Print date: ${currentDateTime}`;
      }
    }
  </script>
</body>
</html>